@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Confirmation";
}

<div class="col-md-12">
    <div class="portlet light ">
        <h3 class="portlet-title">@ViewData["Title"]</h3>
        <div class="portlet-body">
            <div class="alert alert-info"> Password reset was successful. Please <a asp-controller="Account" asp-action="Login" class="text-danger">click here to login</a>. </div>
        </div>
    </div>
</div>