@model DashboardViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Dashboard</a>
                        </li><!--end nav-item-->
                        <li class="breadcrumb-item active">Analytics</li>
                    </ol>
                </div>
                <h4 class="page-title">Analytics</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div>
    <!-- end page title end breadcrumb -->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Families</p>
                                    <h3 class="my-1 font-20 fw-bold">159</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-trending-up"></i>8.5%</span> New Families Hampers</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="fas fa-users font-20 align-self-center text-muted"></i>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Adults</p>
                                    <h3 class="my-1 font-20 fw-bold">597</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-trending-up"></i>1.5%</span> Weekly Avg. Hours</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="mdi mdi-human-male-female font-24 align-self-center text-muted"></i>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Children</p>
                                    <h3 class="my-1 font-20 fw-bold">334</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-danger"><i class="mdi mdi-trending-down"></i>35%</span> Bounce Rate Weekly</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="mdi mdi-human-child font-24 align-self-center text-muted"></i>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Hours Worked</p>
                                    <h3 class="my-1 font-20 fw-bold">597</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-trending-up"></i>1.5%</span> Weekly Avg. Hours</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="mdi mdi-progress-clock font-24 align-self-center text-muted"></i>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Total Weight IN</p>
                                    <h3 class="my-1 font-20 fw-bold">25K lbs</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-trending-up"></i>1.5%</span> Weekly Avg. Hours</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="mdi mdi-bank-transfer-in font-30 align-self-center text-muted"></i>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
                <div class="col-md-6 col-lg-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex justify-content-center">
                                <div class="col-9">
                                    <p class="text-dark mb-0 fw-semibold">Total Weight OUT</p>
                                    <h3 class="my-1 font-20 fw-bold">23.2K lbs</h3>
                                    <p class="mb-0 text-truncate text-muted"><span class="text-success"><i class="mdi mdi-trending-up"></i>1.5%</span> Weekly Avg. Hours</p>
                                </div><!--end col-->
                                <div class="col-3 align-self-center">
                                    <div class="d-flex justify-content-center align-items-center thumb-md bg-light-alt rounded-circle mx-auto">
                                        <i class="mdi mdi-bank-transfer-out font-30 align-self-center text-muted"></i>
                                    </div>
                                </div> <!--end col-->
                            </div><!--end row-->
                        </div><!--end card-body-->
                    </div><!--end card-->
                </div> <!--end col-->
            </div><!--end row-->
            
        </div><!--end col-->

    </div><!--end row-->
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">General Overview</h4>
                        </div><!--end col-->
                        <form asp-action="Index" method="post">
                            <div class="col-auto input-group justify-content-end">
                                <select class="btn btn-sm btn-outline-light" asp-for="Period" asp-items="@Html.GetEnumSelectList<AnalyticPeriod>()" id="language">
                                </select>
                                <button class="btn btn-sm btn-primary" type="submit">GO!</button>
                            </div><!--end col-->
                        </form>                        
                    </div>  <!--end row-->
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="">
                        <div id="chart" class="apex-charts"></div>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="apexchart-wrapper">
                            <span class="h4 fw-bold">23,210 lbs</span>
                            <h6 class="text-uppercase text-muted mt-2 m-0 font-11">Total <strong>Pounds</strong> of food distributed</h6>
                            <div class="progress mt-3 rounded">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div>
                                <div class="progress-bar bg-info" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
                            </div>
                            <ul class="list-unstyled mb-0">
                                <li class="list-item mt-3 fw-semibold d-flex justify-content-between align-items-center">
                                    <span>
                                        <i class="fas fa-circle font-10 text-primary me-2"></i>Emergency Food Hampers
                                    </span>
                                    <p class="align-self-center mb-0 fw-semibold">15,550 lbs</p>
                                </li>
                                <li class="list-item mt-2 fw-semibold d-flex justify-content-between align-items-center">
                                    <span>
                                        <i class="fas fa-circle font-10 text-info me-2"></i>Agency Partners/Others
                                    </span>
                                    <p class="align-self-center mb-0 fw-semibold">7,660 lbs</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="row">
                <div class="card">
                    
                    <div class="card-body">
                        <h6 class="text-secondary text-center mt-2 m-0 font-16">Items For Collection Today</h6>
                        <div class="table-responsive mt-2">
                            <table class="table border-dashed mb-0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-end">Total</th>
                                        <th class="text-end">Collected</th>
                                        <th class="text-end">Remaining</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Families</td>
                                        <td class="text-end">8</td>
                                        <td class="text-end">3</td>
                                        <td class="text-end">5</td>
                                    </tr>
                                    <tr>
                                        <td>Partners</td>
                                        <td class="text-end">5</td>
                                        <td class="text-end">2</td>
                                        <td class="text-end">3</td>
                                    </tr>
                                    
                                </tbody>
                            </table><!--end /table-->
                        </div><!--end /div-->
                    </div><!--end card-body-->
                </div><!--end card-->
            </div>
        </div>
    </div>

</div><!-- container -->
